body {
    font-family: sans-serif;
    background: #f2f2f2;
    padding: 2rem;
    text-align: center;
}

#missatge {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    font-size: 1.5rem;
}
